// Start Imports ---------------------------------------
@import "compass";
@import "compass/reset";
@import "susy";
@import "font-awesome";
@import "sassy-buttons";

// Start Susy Grid -------------------------------------------

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutter
$break: 12;
$media-layout: 60em; // 16px*60em = 960px

// ----------------------------------------------
body {
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
}
h1 {font-size: 1.625em}
p { font-size: 0.875em; line-height: 1.509375em;}
.sidebar p { font-size: 0.75em; line-height: 1.7em;}

a {
	text-decoration: none;
	color:dimgrey;
	&:hover{
		color:red;
	}
}
img {padding:.5em;}
.flr{float: right;}
.fll{float: left;}
address{ font-size: 0.75em;line-height: 1.509375em;color: dimgrey; }
header{ padding:$grid-padding * 2 0;}
.pagenav {
	ul {
		margin: 1em 0;
		float: right;
		li {
		font-size: 1.125em;
		display: inline;
		// padding: 1em;
			a {
			text-decoration: none;
			@include sassy-button("matte", 5px, 14px, #888888, #696969, #fff, "inset");
			}
		} //end li
	}// end ul
}// end .pagenav 

footer { 
	background-color: lightgrey;
}



// Container

.page {
	@include container($total-columns, $break);
}

// Layout

@include at-breakpoint($break) {
	header {clear: both;}
	.logo{@include span-columns(3,$break);}
	.pagenav { @include span-columns(9 omega,$break); }
	.banner { @include span-columns(12 omega,$break); }
	.main {
		$main-columns: 12;
		@include span-columns($main-columns omega, $break);
		padding: $grid-padding 0;
		.content { @include span-columns(9,$main-columns);
	 }
		.sidebar { @include span-columns(3 omega, $main-columns) }
	}
}

footer{
	clear: both;
	// margin: 0 0 - $grid-padding;
	padding:  $grid-padding; 
}